<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Hello, {{ user.username }}!</h1>
        <p style="text-align: center">
        	<button onclick=" href = 'https://oauth.vk.com/authorize?client_id=5490057&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=friends&response_type=token&v=5.52'">Кнопка с текстом</button>
        </p>
        <a href=https://oauth.vk.com/authorize?client_id=7533932&display=page&redirect_uri=http://localhost:5000.html&scope=friends&response_type=code&v=5.52><h1>authorize in vk</h1></a>
    </body>
</html>